* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

html {
  height: 100%;
  background: linear-gradient(303.79deg, #F0C3FC -53.74%, #D7BEFC -4.64%, #BCB1FC 40.96%, #A1AEFC 83.05%, #94BDFC 127.47%, #8EC5FC 170.73%), linear-gradient(0deg, #84FAB0 0%, #85F9BC 21.87%, #88F8D7 42.19%, #8BF6F5 60.94%, #8EDDF5 80.73%, #8FD3F4 100%);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todo {
  width: 730px;
  height: 719px;
  background: #FFFFFF;
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 177px;
    height: 177px;
  }

  &__header {
    font-weight: 700;
    font-size: 24px;
    margin: 50px 0 0 0;
  }

  &__add-wrapper {
    margin-top: 52px;
  }

  &__new-todo-input {
    padding: 12px;
    font-weight: 400;
    font-size: 14px;
    background: #FFFFFF;
    border: 1px solid #C7CCD1;
    box-sizing: border-box;
    border-radius: 8px;
    height: 40px;
    width: 317px;
  }

  &__submit-button {
    font-weight: 600;
    font-size: 13px;
    width: 77px;
    height: 40px;
    background: #2578F4;
    border-radius: 8px;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 16px;
  }

  &__table {
    margin-top: 40px;
    max-height: 92px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 4px;
      height: 92px;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      width: 4px;
      height: 80px;
      background-color: rgba(32, 36, 39, 0.1);
    }
  }

  &__touch {
    width: 11px;
    height: 14px;
    opacity: 0%;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url("images/touch.svg");
    background-size: 10px 13px;
    margin-right: 7px;
    cursor: pointer;
  }

  &__exercises {
    margin-top: 18px;
    width: 448px;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    flex-direction: row;
    font-weight: 400;
    font-size: 14px;

    &:hover {
      .todo__touch {
        transition: opacity 400ms ease;
        opacity: 50%;
      }
    }

    &:first-child {
      margin: 0;
    }
  }

  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;

    & + label {
      display: inline-flex;
      align-items: center;
      user-select: none;
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid #C7CCD1;
        border-radius: 2px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
    }

    &:checked + label::before {
      border-color: #2578F4;
      background-color: #2578F4;
      background-image: url("images/check_mark.svg");
      background-size: 90%;
    }

    &:checked + label + p {
      opacity: 50%;
    }
  }

  &__description {
    width: 258px;
    height: 16px;
    margin: 2px 76px 2px 0;
  }

  &__edit-button {
    cursor: pointer;
    margin-right: 16px;
  }

  &__delete-button {
    cursor: pointer;
  }

  &__info-wrapper {
    margin-top: 32px;
    width: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 85px;
    background: rgba(32, 36, 39, 0.05);
    border-radius: 8px;
  }

  &__completed {
    font-weight: 600;
    font-size: 12px;
    color: #202427;
    opacity: 50%;
    margin: 16px 0 0 16px;
  }

  &__result {
    font-weight: 700;
    font-size: 14px;
    color: #202427;
    margin: 4px 0 0 16px;
  }

  &__progress {
    margin: 12px 0 0 16px;
    width: 158px;
    border-radius: 8px;
    height: 4px;

    &::-webkit-progress-bar {
      background-color: #E1E1E2;
      border-radius: 8px;
    }

    &::-webkit-progress-value {
      border-radius: 8px;
      background-color: #EF5DA8;
    }
  }
}

.filter {
  width: 410px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-weight: 600;
  font-size: 13px;
  align-items: center;

  &__select {
    text-align: center;
  }

  &_margin-top {
    margin-top: 32px;
  }

  &__select_Ñhecked > a {
    border: none;
    cursor: pointer;
    align-self: center;
    background-color: #2578F4;
    border-radius: 8px;
    padding: 8px 12px;
    color: #FFFFFF;
  }
}
